// color variables
$primary_color: #007bff;
$primary-hover-color: #0056b3;
$succsess-color: #28a745;
$succes-hover-color: #218838;
$tittle-color: #333;
$bg_color: white;

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $bg_color;
}

.content {
    max-width: 800px;
    margin:50px auto;
    padding: 20px;
    background-color: white;
    border-radius:10px;
    box-shadow:0 0 10px black;
    text-align:center;
}


